/* обнуление стилей по умолчанию */
* {padding: 0; margin: 0; border: 0;}
*,*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea { font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}


.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 20px 0 20px 30px;
    padding-right: 30px;
} 

.edit {
    visibility: hidden;
}

.header-notes {
    background-color: cadetblue;
    margin: 10px 0;
    padding: 0 10px;
    height: 40px;
    width: 100hv;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    font-size: 20px;
}

.header-notes li {
    width: 12%;
    /* padding: 0 10px; */
}

.header-list.note-content,li{
    width: 25%;
}

.icon-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-block  img{
    margin: 8px;
}

.icon-block img:hover {
    opacity: 0.6;
}

.note {
    margin: 10px 0;
    padding: 0 10px;
    background-color: rgb(201, 235, 236);
    min-height: 50px;
    width: 100hv;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    font-size: 18px;
    text-overflow: ellipsis; 
}

.note:hover {
    background-color: rgb(216, 245, 245);
    box-shadow: 0 0 10px 0 #adaaaa; 
    transform: scale(1.007); 
    transition: transform 500ms ease; 
}

.note-list.note-content,li{
    width: 25%;
}

.note li  {
    width: 12%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.note-button {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid #57584d;
    margin: 0 20px 10px 90%;
}

.note-button:hover {
    background-color: #333;
	color: #eaf7b0;
    cursor: pointer;
}

.edit-done {
    width: 60px;
    height: 25px;
    margin: 5px 0 0 0;
    visibility: hidden;
}